<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
            I am a software engineer since 2004, I have worked
            at both small startups and large world class organizations. While I'm a proficient backend
            software engineer, my expertise is in building scalable backend services (API services, stream processing,
            and async mechanisms).
        </p>
        <p>
           I love building things.
           While hard engineering problems are often intrinsically fun to tackle,
           I'm most attracted to solving real customer problems with a business justification.
           I'm looking for a senior individual contributor role where I can take on collaborative
           team leadership responsibilites, and gain experience with
           architecture and project management.
        </p>
      </div>
	    <div class="col-sm-6">
        <h3 style="margin-top:0;">Highlights</h3>

        <h5 style="margin-top:20;">eSolution for network services</h5>
        <div>
        I Built a lot of webservices, websites and Cpanles, for a lot of aginces and businesses in Jordan across mostly all business sectors, such as: 
            <ol>
              <li>Electronics: Sona electric</li>
              <li>Travel and Tourisim: Travel Access, Jordan Explorer</li>
              <li>Government: Biomedical (<a href="https://www.rss.jo/" target="_blank">The Royal Scientific Society</a>)</li>
              <li>Home Appliances: Dimlaj</li>
              <li>Insurance: GIG insurance</li>
              <li>Health Care and Beauty: Dead Sea Treasures, Sukhtian Group</li>
            </ol>
        using <b>ASP classic</b>, <b>ASP.Net</b>, <b>C#.NET</b> and <b>VB.NET</b> along side with <b>Javascript</b> for frontend functionalities and <b>MSSQL Server</b> for database management. 
        All those were hosted on a dedicated server managed by our team.
        </div>
        
        <h5 style="margin-top:20;">Souq/Maktoob</h5>
        <div>
        A long awesome journey I spent here that lasted for nearly 8 year, I have not only developed, maintained, and enhanced a lot of services, sub-systems, and channels, but also I am proudly was one of the team members who shapes the E-commerce mentality and experince in the middle east.
        A lot of technologies used in Souq, such as: Linux Servers with Apache, <b>PHP</b> 5 and 7 (Zend and Phalcon Frameworks), <b>Redis</b>, <b>SQS</b>, <b>Mysql</b>, <b>Javascript</b>. I used these technologies to: 
        Develop a lot fo souq channles: stores, motors, backoffice tools (for CS teams), Deal of the Day (DOD), Shipping, Registration, login, and Addresses Management.
        Also I was a part of the team that worked on the major milestones of Souq life: 
          <ol>
            <li>convert the platform from Auction based services to Buynow based services (Auctions End Of Life - AEOL) in 2008/2009.</li>
            <li>Revamp Souq Backend platform in 2013/2013</li>
          </ol>
        </div>
        
        <h5 style="margin-top:20;">Trevx</h5>
        <div>
          Trevx is an Idea that I came of with my two friends to enhance the experience of the web audio content consumption, by providing a platform that index the "public" audio content and simplify its retrieval and provide a direct and easy user interface to consume/play the results items.
          <br />
          In a nutshell, what we did is that we built a good/clean audio "advisory engine", that index the public audio content provided by a crawler and provision, sort and categorize that audio files.
          Once the user search on any content the most relevant with the best quality will be shown to the user and play it. Also the user can see the rest of the search result and play them as well.
          <br />
          Technologies used: <b>PHP</b>(laravel), <b>AZUR</b> servers, Digital Ocean Servers, <b>Javascript</b>, <b>Mysql</b>, <b>ElasticSearch</b>.
        </div>

        <h5 style="margin-top:20;">Saudi Research & Publishing Company - SRPC</h5>
        <div>
          Build an e-commerce website from scrach to benefit from the big traffic they have on thier publications.
          <br />
          Technologies used: <b>PHP</b>(laravel), <b>Opencart2</b>, Digital Ocean Servers, <b>Javascript</b>, <b>Mysql</b>, <b>Bootstrap 3</b>, <b>Redis</b>.
        </div>
        
        <h5 style="margin-top:20;">Jamalon</h5>
        <div>
          Migrated a monolithic out-dated e-commerce website to multiple php-laravel microservices hosted on a dedicated server.
          <br />
          Technologies used: <b>PHP</b>(laravel), Digital Ocean Servers, <b>Javascript</b>, <b>Mysql</b>, <b>Bootstrap3</b>, <b>DynamoDB</b>.
        </div>

        <h5 style="margin-top:20;">Souq/Amazon</h5>
        <div>
          Souq needed the old soldiers to quickly move the business from Souq Stack to Amazon Stack and technologies, it was a great chance to work on a world class company and learn a lot from its experince and processes.
          <ol>
            <li>Worked on the first project that allows Amazon to list and ship items through Souq.com platform.</li>
            <li>Onboard UAE and KSA marketplace to Amazon services and deploy them.</li>
          </ol>
          Technologies used: <b>Java</b>, and a lot of other Amazon's internal services and hooks.
        </div>

        <h5 style="margin-top:20;">Mawdoo3.ai</h5>
        <div>
          AI.Mawdoo3 is the artificial intelligence arm for Mawdoo3.com, the world's most frequently visited Arabic website. After dominating the online Arabic content in the Middle East, Mawdoo3 is now paving the way towards a digitally engaging user journey for Arabic speaking audience.
          <br />
          Technologies used: <b>Java</b>(Dropwizard), <b>Mysql</b>, <b>Docker</b>, <b>PHP</b>(Laravel).
        </div>

	    </div>
    </div>
  </div>
</section>
